/* CONTAINER */

.form {
  padding: 1rem;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  width: min(calc(100vw - 1rem), 400px);
  border: 3px solid var(--blackish);
}

/* LABELS */

.label {
  font-size: 1rem;
  text-transform: uppercase;
  padding-left: 5px;
  width: 100%;
}

/* INPUT */

.input {
  padding: 5px;
  font-size: 1rem;
  border-radius: 5px;
  border: 2px solid #222;
  width: 100%;
}

/* BUTTONS */

.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  gap: 2px;
}

.button {
  flex: 1;
  border: 3px solid var(--orangish);
  padding: 3px;
  font-size: 1rem;
  transition: all 400ms;
  margin-top: 0.5rem;
  background-color: transparent;
  color: #222;
  position: relative;
  z-index: 2;
  backdrop-filter: blur(5px);
}

.button:hover {
  cursor: pointer;
  color: #fff;
}

.button::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0;
  width: 100%;
  background-color: var(--orangish);
  transition: all 150ms ease-in-out;
  z-index: -1;
}

.button:hover::after {
  height: 100%;
}