/* CONTAINER */

.form {
  padding: 1rem;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: min(calc(100vw - 1rem), 800px);
  border: 3px solid var(--blackish);
  position: relative;
  z-index: -2;
}

.form > * {
  width: 100%;
}

/* BACKGROUND */

.background {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.1;
}

/* LABELS */

.label {
  font-size: 1rem;
  text-transform: uppercase;
  margin-bottom: -0.8rem;
  padding-left: 5px;
}

/* TITLE */

.input {
  padding: 5px 1rem;
  font-size: 1.2rem;
  border-radius: 5px;
  border: 2px solid #222;
}

/* TABLES */

.tableContainer {
  background-color: #FFF;
  border: 2px solid #222;
  padding: 5px 1rem;
  border-radius: 5px;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table tbody th {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: normal;
  text-align: left;
  padding: 2px;
  border-bottom: 2px solid #222;
}

.table tbody tr:not(:last-of-type) {
  border-bottom: 2px solid #222;
}

.table tbody td {
  padding: 10px 2px;
}

/* PRIORITY (SELECT BOX) */

.select {
  width: 100%;
  padding: 10px 1rem;
  border-radius: 5px;
  border: 2px solid #222;
  background-color: #FFF;
  font-size: 1rem;
  color: #000;
  -webkit-appearance: none; /* this will remove the default dropdown arrow in Webkit browsers */
  -moz-appearance: none; /* this will remove the default dropdown arrow in Mozilla browsers */
  appearance: none; /* this will remove the default dropdown arrow in standard syntax */
  position: relative;
  text-transform: capitalize;
  font-size: 1rem;
}

.select:focus {
  outline: none;
  border-color: var(--admin-light-blue); /* Change to your preferred color */
}

.select:hover {
  cursor: pointer;
}

/* LINKS */

.link {
  width: auto;
  color: var(--admin-dark-blue);
  line-break: auto;
  position: relative;
  z-index: 2;
  padding: 0 3px;
}

.link:hover {
  color: #fff;
  cursor: pointer;
}

.link::after {
  content: "";
  position: absolute;
  bottom: 3px;
  left: 0;
  height: 1px;
  width: 100%;
  background-color: var(--admin-dark-blue);
  transition: all 200ms ease-in-out;
  z-index: -1;
}

.link:hover::after {
  height: calc(100% - 2px);
}

/* BUTTONS */

.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  gap: 2px;
}

.button {
  flex: 1;
  border: 3px solid var(--orangish);
  padding: 3px;
  font-size: 1rem;
  transition: all 400ms;
  margin-top: 0.5rem;
  background-color: transparent;
  color: #222;
  position: relative;
  z-index: 2;
  backdrop-filter: blur(5px);
}

.button:hover {
  cursor: pointer;
  color: #fff;
}

.button::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0;
  width: 100%;
  background-color: var(--orangish);
  transition: all 200ms ease-in-out;
  z-index: -1;
}

.button:hover::after {
  height: 100%;
}