/* CONTAINER */

.container {
  width: 100%;
}

/* TILES */

.tiles {
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(auto-fit, minmax(min(240px, 49%), 1fr));
  padding: 1rem;
  position: relative;
}

.tile {
  aspect-ratio: 1 / 1;
  height: 100%;
  width: 100%;
  max-width: 450px;
  transition: all 400ms;
  border: 3px solid transparent;
  position: relative;
  z-index: 2;
  display: flex;
  overflow: hidden;
}

.tile img:first-of-type {
  height: 100%;
  width: 100%;
  object-fit: cover;
  opacity: 0.9;
  transition: all 400ms;
}

.tile:hover img:first-of-type,
.tile.active img:first-of-type {
  opacity: 1;
}

.tile.active {
  border-color: var(--orangish);
}

.tile:hover {
  cursor: pointer;
  border-color: var(--orangish);
  filter: blur(0px);
}

.editButton {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 3;
  background-color: var(--orangish);
  height: 32px;
  width: 32px;
  padding: 0 0 2px 2px;
  transition: all 400ms;
  opacity: 0;
}

.tile:hover .editButton,
.tile.active .editButton {
  cursor: pointer;
  opacity: 1;
}

/* TILE SLIDE MENU */

.slideMenu {
  position: absolute;
  bottom: 0;
  z-index: 3;
  transition: all 400ms ease-in-out;
  width: 100%;
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.button {
  width: 100%;
  font-size: 1rem;
  border: 3px solid var(--orangish);
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  color: #000;
  transition: all 150ms ease-in-out;
  z-index: 2;
  padding: 2px;
  position: relative;
  color: #fff;
}

@media (orientation: landscape) and (min-width: 800px) {
  .button[data-type="edit"] {
    display: none;
  }
}

.button:hover {
  background-color: rgba(0, 0, 0, 0.9);
  cursor: pointer;
}

.button::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: var(--orangish);
  transition: all 150ms ease-in-out;
  z-index: -1;
}

.button:hover::after {
  height: 100%;
}


/* ADD CARD BUTTON */

.addCardButton {
  font-size: 1rem;
  aspect-ratio: 1 / 1;
  height: auto;
  width: max(8vw, 100px);
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 2;
  backdrop-filter: blur(5px);
  border: 5px solid black;
  border-radius: 100%;
  padding: 1rem;
  transition: all 400ms;
}

.addCardButton:hover {
  cursor: pointer;
  transform: scale(1.05);
}

/* OPEN CARD */

.open {
  height: min(calc(100vh - 2rem), 800px);
  width: min(calc(100vw - 1rem), 1000px);
  border: 3px solid var(--blackish);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  gap: 10px;
  background-color: #fff;
  position: relative;
  padding-top: 40px;
}

.open .exitButton {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 101;
  padding: 5px;
  transform: rotate(45deg);
  opacity: 0.5;
  transition: all 400ms;
}

.open .exitButton:hover {
  cursor: pointer;
  opacity: 1;
}

.open .mediaContainer {
  height: calc(50%);
  width: auto;
  max-width: 100%;
  position: relative;
}

.open .mediaContainer .media {
  height: 100%;
  width: auto;
  max-width: 100%;
  object-fit: contain;
}

.open .mediaContainer iframe.media {
  width: 100%;
  min-height: calc(50%);
}

.open .mediaContainer {
  border: 3px solid transparent;
  transition: all 400ms;
}

.open .mediaContainer:hover {
  border-color: var(--orangish);
  cursor: pointer;
}

.open .mediaContainer .editButton {
  padding-top: 3px;
}

.open .mediaContainer:hover .editButton {
  opacity: 1;
}

.text {
  height: calc(50% - 8px);
  width: 100%;
  color: #222;
  border-radius: 0;
  transition: all 400ms;
  padding: 0;
  margin: 0;
  border: 3px solid transparent;
}

.text:hover {
  border-color: var(--orangish);
}

.textInner {
  height: calc(100% - 3rem);
  width: 100%;
  overflow-y: auto;
}

@media (max-width: 568px) {
  .textInner {
    max-height: calc(100% - 5rem);
  }
}

@media (max-width: 323px) {
  .textInner {
    max-height: calc(100% - 7rem);
  }
}

/* ARROW BUTTONS */

.arrowButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 1rem 0.5rem;
  background-color: rgba(0, 0, 0, 0.5);
  transition: all 400ms;
}

.arrowButton:first-of-type {
  left: -4.5rem;
  transform: rotate(180deg) translateY(50%);
}

.arrowButton:nth-of-type(2) {
  right: -4.5rem;
}

.arrowButton:hover {
  background-color: rgba(0, 0, 0, 0.9);
  cursor: pointer;
}

.arrowButton:first-of-type:hover {
  padding-left: 0.75rem;
  padding-right: 0.25rem;
}

.arrowButton:nth-of-type(2):hover {
  padding-left: 0.75rem;
  padding-right: 0.25rem;
}
