.card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.5);
  margin: 1rem 0;
  background-color: #eee;
  width: min(calc(100% - 1rem), 950px);
}

.image {
  object-fit: contain;
  max-width: calc(100% - 1rem);
  height: auto;
  margin: 10px;
  position: relative;
}

.image:hover {
  cursor: pointer;
}

.editor {
  height: min(50vh, 370px);
  width: min(calc(100% - 1rem), 550px);
}

.editorInner {
  height: calc(100% - 44px);
  overflow-y: scroll;
}

.buttons {
  position: absolute;
  top: 0;
  right: -30px;
}

@media (max-width: 535px) {
  .editorInner {
    height: calc(100% - 76px);
  }
}

@media (max-width: 970px) { 
  .buttons {
    top: 5px;
    right: 5px;
  }

  .card {
    width: calc(100% - 1rem);
    flex-direction: column;
  }

  .editor {
    width: calc(100% - 1rem);
  }
}

.popup {
  padding: 1rem;
  background-color: #EEE;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.popupTitle {
  font-size: 1.2rem;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 5px;
}

.popupButtons {
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2px;
}

.popupButton {
  flex: 1;
  border: 1px solid var(--admin-dark-blue);
  padding: 2px;
  border-radius: 5px;
  font-size: 1rem;
  text-transform: uppercase;
  transition: all 400ms;
  margin-top: 0.5rem;
  background-color: var(--admin-light-blue);
  color: #FFF;
}

.popupButton:hover {
  background-color: var(--admin-lighter-blue);
  cursor: pointer;
  color: var(--admin-dark-blue);
}