.container {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--admin-dark-blue);
  border-radius: 5px;
  background-color: #fff;
  padding: 1rem;
  max-width: calc(100vw - 1rem);
  gap: 1rem;
}

.title {
  font-size: 1.4rem;
  text-transform: uppercase;
  text-align: center;
}

.buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0.5rem;
}

.button {
  grid-row: span 1;
  grid-column: span 1;

  text-transform: uppercase;
  text-align: center;
  border: 1px solid var(--admin-dark-blue);
  border-radius: 5px;
  background-color: var(--admin-light-blue);
  font-size: 1rem;
  color: #fff;
  transition: all 400ms;
}

.button:hover {
  cursor: pointer;
  background-color: var(--admin-lighter-blue);
  color: var(--admin-dark-blue);
}