.cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.buttons {
  width: 100%;
  margin: 5px 1rem;
  padding: 0 1rem;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  z-index: 99;
}

@media (max-width: 700px) {
  .buttons {
    position: static;
    justify-content: center;
    margin: 5px;
    padding: 5px 5px 0 0;
  }
}

.button, .addCardButton {
  width: 100px;
  text-align: center;
  margin: 5px;
  border: 1px solid var(--admin-dark-blue);
  border-radius: 5px;
  background-color: var(--admin-light-blue);
  font-size: 1rem;
  color: #fff;
  transition: all 400ms;
}

.button:hover, .addCardButton:hover {
  cursor: pointer;
  background-color: var(--admin-lighter-blue);
  color: var(--admin-dark-blue);
}

.addCardButton {
  width: min(calc(100% - 1rem), 950px);
  text-transform: uppercase;
  font-size: 1.2rem;
  padding: 5px;
}

.title {
  font-size: 1.6rem;
  margin: 3rem 0 1rem 0;
  border-radius: 5px;
  border: 1px solid black;
  width: min(calc(100% - 1rem), fit-content);
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.5);
  padding: 3px 8px;
}

.mainCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: min(calc(100% - 1rem), 950px);
}

.mainCardInner {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
  width: min(calc(100% - 1rem), 950px);
}

.thumbnail {
  object-fit: contain;
  max-width: calc(100% - 1rem);
  height: auto;
  margin: 10px;
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.5);
}

.thumbnail:hover {
  cursor: pointer;
}

.summary {
  height: min(50vh, 400px);
  width: min(calc(100% - 1rem), 550px);
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.5);
}

.summaryInner {
  max-height: 400px;
  overflow-y: scroll;

  height: calc(100% - 44px);
}

@media (max-width: 535px) {
  .summaryInner {
    height: calc(100% - 76px);
  }
}

@media (max-width: 550px) {
  .summaryInner {
    height: calc(100% - 76px);
  }
}

@media (max-width: 970px) {
  .title {
    width: calc(100% - 1rem);
  }

  .mainCard {
    width: calc(100% - 1rem);
    flex-direction: column;
  }

  .summary {
    width: calc(100% - 1rem);
  }
}

@media (max-width: 700px) {
  .title {
    margin-top: 1rem;
  }
}