.ltr {
  text-align: left;
}

.rtl {
  text-align: right;
}

.editorPlaceholder {
  color: #999;
  overflow: hidden;
  position: absolute;
  text-overflow: ellipsis;
  top: 15px;
  left: 10px;
  font-size: 15px;
  user-select: none;
  display: inline-block;
  pointer-events: none;
}

.editorTextBold {
  font-weight: bold;
}

.editorTextItalic {
  font-style: italic;
}

.editorTextUnderline {
  text-decoration: underline;
}

.editorTextStrikethrough {
  text-decoration: line-through;
}

.editorTextUnderlineStrikethrough {
  text-decoration: underline line-through;
}

.editorLink {
  color: rgb(33, 111, 219);
  text-decoration: none;
}

.editorTokenComment {
  color: slategray;
}

.editorTokenPunctuation {
  color: #999;
}

.editorTokenProperty {
  color: #905;
}

.editorTokenSelector {
  color: #690;
}

.editorTokenOperator {
  color: #9a6e3a;
}

.editorTokenAttr {
  color: #07a;
}

.editorTokenVariable {
  color: #e90;
}

.editorTokenFunction {
  color: #dd4a68;
}

.editorParagraph {
  margin: 0;
  margin-bottom: 8px;
  position: relative;
}

.editorParagraph:last-child {
  margin-bottom: 0;
}

.editorHeadingH1 {
  font-size: 24px;
  color: inherit;
  font-weight: 400;
  margin: 0;
  margin-bottom: 12px;
  padding: 0;
}

.editorHeadingH2 {
  font-size: 15px;
  color: inherit;
  font-weight: 700;
  margin: 0;
  margin-top: 10px;
  padding: 0;
  text-transform: uppercase;
}

.editorQuote {
  margin: 0;
  margin-left: 20px;
  font-size: 15px;
  color: calc(inherit + #111);
  border-left-color: calc(inherit + #181818);
  border-left-width: 4px;
  border-left-style: solid;
  padding-left: 16px;
}

.editorListOl {
  padding: 0;
  margin: 0;
  margin-left: 16px;
}

.editorListUl {
  padding: 0;
  margin: 0;
  margin-left: 16px;
}

.editorListitem {
  margin: 8px 32px 8px 32px;
}

.editorNestedListitem {
  list-style-type: none;
}