.form {
  padding: 1rem;
  background-color: #fff;
  border: 1px solid var(--admin-dark-blue);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fileUploadLabel {
  cursor: pointer;
  border: none;
  border-radius: 5px;
  text-align: center;
}

.preview {
  width: min(100vw - 2rem, 400px);
  height: auto;
  object-fit: contain;
  cursor: pointer;
}

.placeholder {
  width: 80px;
  height: 80px;
  margin: 70px;
}


.input {
  display: none;
}

.button {
  width: 100%;
  border: 3px solid var(--orangish);
  padding: 3px;
  font-size: 1rem;
  transition: all 400ms;
  margin-top: 0.5rem;
  background-color: transparent;
  color: #222;
  position: relative;
  z-index: 2;
  backdrop-filter: blur(5px);
}

.button:hover {
  cursor: pointer;
  color: #fff;
}

.button::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0;
  width: 100%;
  background-color: var(--orangish);
  transition: all 150ms ease-in-out;
  z-index: -1;
}

.button:hover::after {
  height: 100%;
}