.page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
  padding: 2rem 1rem;
}

.heading {
  text-transform: uppercase;
  width: min(calc(100% - 1rem), 900px);
}

