.popupForm {
  padding: 1rem;
  background-color: #EEE;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  min-width: min(400px, calc(100vw - 1rem));
}

.popupTitle {
  font-size: 1.4rem;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 0.5rem;
}

.popupLabel, .popupInput, .popupSubmit {
  margin: 2px 0;
}

.popupInput, .popupSubmit {
  padding: 2px;
  border-radius: 5px;
  border: 1px solid var(--admin-dark-blue);
}

.popupLabel, .popupSubmit {
  text-transform: uppercase;
}

.popupInput {
  padding: 5px;
  font-size: 1rem;
}

.popupSubmit {
  font-size: 1.2rem;
  transition: all 400ms;
  margin-top: 1rem;
  background-color: var(--admin-light-blue);
  color: #FFF;
}

.popupSubmit:hover {
  background-color: var(--admin-lighter-blue);
  cursor: pointer;
  color: var(--admin-dark-blue);
}