.form {
  padding: 1rem;
  background-color: #EEE;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  min-width: min(400px, calc(100vw - 1rem));
}

.title {
  font-size: 1.4rem;
  text-transform: uppercase;
  text-align: center;
}

.label, .input, .submit {
  margin: 2px 0;
}

.input, .submit {
  padding: 2px;
  border-radius: 5px;
  border: 1px solid var(--admin-dark-blue);
}

.label, .submit {
  text-transform: uppercase;
}

.input {
  padding: 5px;
  font-size: 1rem;
}

.submit {
  font-size: 1.2rem;
  transition: all 400ms;
  margin-top: 1rem;
  background-color: var(--admin-light-blue);
  color: #FFF;
}

.submit:hover {
  background-color: var(--admin-lighter-blue);
  cursor: pointer;
  color: var(--admin-dark-blue);
}