.button {
  border-radius: 5px;
  border: 1px solid var(--admin-dark-blue);
  font-size: 1rem;
  transition: all 400ms;
  background-color: var(--admin-light-blue);
  color: #FFF;
  width: 100%;
  text-transform: uppercase;
}

.button:hover {
  background-color: var(--admin-lighter-blue);
  cursor: pointer;
  color: var(--admin-dark-blue);
}