.main {
  position: relative;
  margin-top: var(--admin-navbar-height);
  min-height: calc(100vh - var(--admin-navbar-height));
  background-color: #74EBD5;
  background-image: radial-gradient(circle at center, #b3cde0 0%, #97dcff 50%, #56acfc 100%);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 700px) {
  .main {
    margin-top: calc(7rem + var(--admin-navbar-height));
    min-height: calc(100vh - 7rem - var(--admin-navbar-height));
  }
}