.main {
  position: relative;
  margin-top: var(--admin-navbar-height);
  min-height: calc(100vh - var(--admin-navbar-height));
  background-color: var(--custom-blue-background);
  padding-bottom: 4rem;
}

@media (max-width: 700px) {
  .main {
    margin-top: calc(7rem + var(--admin-navbar-height));
    min-height: calc(100vh - 7rem - var(--admin-navbar-height));
  }
}