.navbar {
  position: fixed;
  top: 0;
  left: 0;
  height: var(--admin-navbar-height);
  display: flex;
  background-color: rgba(0, 0, 0, 1);
  color: #aaa;
  z-index: 99;
  min-width: 100vw;
}

.help {
  position: absolute;
  top: 15px;
  right: 15px;
  opacity: 0.4;
  transition: all 400ms;
}

.help:hover {
  opacity: 0.8;
  cursor: pointer;
}

.logo {
  opacity: 0.6;
  transition: all 400ms;
}

.logo:hover {
  opacity: 1;
}

.navbarList {
  display: flex;
  align-items: center;
  justify-content: left;
  width: 100%;
  padding: 0 2rem;
}

.navbarList li {
  list-style: none;
  padding: 0 1rem;
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: uppercase;
}

.navbarLink {
  color: #aaa;
  transition: all 400ms;
}

.navbarLink:hover {
  color: #fff;
}

@media (max-width: 700px) {
  .navbar {
    position: absolute;
    flex-direction: column;
  }

  .navbarList {
    flex-direction: column;
    padding: 0;
    margin-top: -2px;
    background-color: rgba(0, 0, 0, 1);
    width: 100%;
  }
}