.page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.heading {
  font-size: 2rem;
  text-transform: uppercase;
  text-align: left;
  width: max(min(1000px, calc(100% - 2rem)), 80%);
}

.exhibits {
  width: min(100%, 1000px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 400ms;
}

.button {
  aspect-ratio: 1 / 1;
  height: auto;
  width: max(8vw, 100px);
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 2;
  backdrop-filter: blur(5px);
  border: 5px solid black;
  border-radius: 100%;
  padding: 1rem;
  transition: all 400ms;
}

.button:hover {
  cursor: pointer;
  transform: scale(1.05);
}