.exhibitCard {
  background-color: #fff;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  transition: all 400ms;
  width: calc(300px + 1rem);
  box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
}

.exhibitThumbnail {
  object-fit: cover;
  border-radius: 5px;
}

.exhibitTitle {
  padding: 0.5rem;
  font-size: 1.5rem;
  text-align: center;
  margin-top: 0.5rem;
}

.exhibitButtons {
  width: 300px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 5px;
  margin: 0.5rem 0;
}

.exhibitButton {
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--admin-dark-blue);
  padding: 3px;
  font-size: 1rem;
  background-color: var(--admin-light-blue);
  transition: all 400ms;
  color: #fff
}

.exhibitButton:hover {
  background-color: var(--admin-lighter-blue);
  cursor: pointer;
  color: var(--admin-dark-blue);
}

.popup {
  padding: 1rem;
  background-color: #EEE;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  max-width: 500px;
}

.popupTitle {
  font-size: 1.4rem;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 0.5rem;
}

.popupButtons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2px;
}

.button {
  flex: 1;
  border: 1px solid var(--admin-dark-blue);
  padding: 2px;
  border-radius: 5px;
  font-size: 1rem;
  text-transform: uppercase;
  transition: all 400ms;
  margin-top: 0.5rem;
  background-color: var(--admin-light-blue);
  color: #FFF;
}

.button:hover {
  background-color: var(--admin-lighter-blue);
  cursor: pointer;
  color: var(--admin-dark-blue);
}
