.footer {
  width: 100%;
  background-color: var(--blackish);
  color: var(--greyish);
  text-align: center;
  padding: 1rem;
  font-size: 0.8rem;
}

.footer a:hover {
  color: #fff;
}

.footer p {
  padding: 3px;
}

.link {
  text-transform: uppercase;
  font-size: 0.9rem;
}