.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 191px;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 1000;
}

.main {
  padding-top: 205px;
  padding-bottom: 3rem;
  z-index: 1;
}

/*
The `Exhibit` component, found in @/components/pages/exhibit/Exhibit.tsx, uses these
dimensions to determine certain behaviour; see that file and tweak the numbers there if
you change the numbers in this query.
*/
@media (max-width: 600px) or (max-height: 600px) {
  .header {
    position: static;
  }

  .main {
    padding-top: 5px;
  }
}