.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 191px;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 1000;
}

.main {
  margin-top: 205px;
  z-index: 1;
}

@media (max-width: 600px) or (max-height: 600px) {
  .header {
    position: static;
  }

  .main {
    margin-top: 5px;
  }
}