.container {
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding-bottom: 1rem;
  width: min(calc(100vw - 2rem), 600px);
  max-height: 90vh;
  overflow-y: auto;
  border: 3px solid var(--blackish);
}

/* TITLE */

.title {
  text-transform: uppercase;
}

/* TEXT */

.container p,
.container ul,
.container li,
.title
{
  width: 90%;
}

.container li {
  margin-left: 2rem;
}

/* IMAGE */

.image {
  width: 100%;
  height: auto;
  object-fit: contain;
}

/* BUTTON */

.button {
  width: 90%;
  border: 3px solid var(--orangish);
  padding: 3px;
  font-size: 1rem;
  transition: all 400ms;
  margin-top: 0.5rem;
  background-color: transparent;
  color: #222;
  position: relative;
  z-index: 2;
}

.button:hover {
  cursor: pointer;
  color: #fff;
}

.button::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0;
  width: 100%;
  background-color: var(--orangish);
  transition: all 150ms ease-in-out;
  z-index: -1;
}

.button:hover::after {
  height: 100%;
}


/* LINKS */

.link {
  width: auto;
  color: var(--admin-dark-blue);
  line-break: auto;
  position: relative;
  z-index: 2;
  padding: 0 3px;
}

.link:hover {
  color: #fff;
  cursor: pointer;
}

.link::after {
  content: "";
  position: absolute;
  bottom: 3px;
  left: 0;
  height: 3px;
  width: 100%;
  background-color: var(--admin-dark-blue);
  transition: all 200ms ease-in-out;
  z-index: -1;
}

.link:hover::after {
  height: calc(100% - 2px);
}