.page {
  padding: 2rem 1rem 0rem 1rem;
  display: flex;
  justify-content: flex-start;  
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

/* HEADING */

.heading {
  text-transform: uppercase;
  font-size: 2rem;
  width: min(90%, 1600px);
}

.images {
  width: min(90%, 1600px);
}

/* IMAGE TILE CONTAINER */

.images {
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  padding: 1rem;
}

/* ADD IMAGE BUTTON */

.button {
  aspect-ratio: 1 / 1;
  height: auto;
  width: max(8vw, 100px);
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 2;
  backdrop-filter: blur(5px);
  border: 5px solid black;
  border-radius: 100%;
  padding: 1rem;
  transition: all 150ms;
}

.button:hover {
  cursor: pointer;
  transform: scale(1.05);
}
