@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
  --font: 'Poppins', serif;
  --blackish: #24272A;
  --orangish: #CA6D4F;
  --yellowish: #EAA55E;
  --greenish: #8B8C4A;
  --bluish: #5B6670;
  --greyish: #AFA99F;

  --admin-dark-blue: #002453;
  --admin-lighter-blue: #54afff;
  --admin-light-blue: #3474ff;
  --admin-navbar-height: 55px;
  --admin-theme-dark: rgba(0, 0, 0, 0.9);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--font);
  scroll-behavior: smooth;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a, li, button {
  color: inherit;
  text-decoration: none;
}
