.carousel {
  position: relative;
  height: min(max(55vw, 60vh), calc(100vh - 400px));
  overflow: hidden;
}

.slide {
  position: absolute;
  height: 100%;
  width: 100%;
  transition: all 600ms ease-in-out;
}

.slide[data-position="left"] {
  transform: translateX(-100vw);
}

.slide[data-position="right"] {
  transform: translateX(100vw);
}

.slide .image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.slide .text {
  position: absolute;
  bottom: 2rem;
  width: min(1000px, calc(100% - 4rem));  
  left: 50%;
  transform: translateX(-50%);
}

.slide .summary {
  margin: 1rem 2rem;
}

@media (max-width: 720px) or (max-height: 720px) {
  .slide .text {
    bottom: 0;
  }
}

@media (max-width: 500px) {
  .slide .text {
    width: 100vw;
    max-height: 90%;
    overflow-y: auto;
    overflow-x: hidden;
    bottom: 5%;
  }

  .slide .text .summary {
    overflow: auto;
    margin: 1rem 1rem;
  }

  .arrowButton {
    display: none;
  }
}

.slide .title {
  font-size: 3rem;
  transition: all 400ms;
}

.slide .summaryInner {
  background-color: rgba(0, 0, 0, 0.4);
}

.slide .summary,
.slide .summaryInner
{
  color: #fff;
  font-size: 1.5rem;
  transition: all 400ms;
}

.slide .title {
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  padding: 0 1rem;
  width: fit-content;
  margin: 0 1rem;
}

.arrowButton {
  position: absolute;
  height: 100%;
  width: 70px;
  background: linear-gradient(
    to right, 
    rgba(0, 0, 0, 0.0), 
    rgba(0, 0, 0, 0.6)
  );
  background-position: -100%;
  padding: 0 1rem;
  transition: all 400ms;
  opacity: 0.6;
}

.arrowButton:first-of-type {
  left: 0rem;
}

.arrowButton:last-of-type {
  right: 0rem;
}

.arrowButton:hover {
  background-position: 0;
  cursor: pointer;
  opacity: 1;
}

.slide:hover {
  cursor: pointer;
}

.slide:hover .summaryInner,
.slide:hover .title
{
  background-color: rgba(0, 0, 0, 0.6);
}

@media (max-height: 800px) {
  .carousel{ 
    height: 70vh;
  }

  .slide .title {
    background-color: rgba(0, 0, 0, 0.6);
  }
  
  .slide .summaryInner {
    background-color: rgba(0, 0, 0, 0.6);
  }
}