.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  transition: all 400ms;
}

.pagination {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
  padding: 1rem;
  transition: all 400ms;
}

.pageButton {
  width: 2rem;
  height: 2rem;
  border: none;
  background-color: transparent;
  /* border-bottom: 2px solid var(--blackish); */
  /* background-color: var(--blackish); */
  /* color: #fff; */
  color: #000;
  cursor: pointer;
  transition: all 400ms;
  font-size: 1.2rem;
}

.pageButton:hover {
  /* box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.5);
  transform: translate(-3px, -3px); */
  background-color: #eee;
}

.pageButton[data-status="active"] {
  /* background-color: var(--greyish); */
  color: var(--bluish);
  border-bottom: 5px solid var(--blackish);
}

.pageNumber {
  text-align: center;
  padding: 1rem;
}

.page {
  transition: all 400ms;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;  
}

.title {
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
  font-size: 2rem;
}
