.background  {
  background-color: #eee;
}

.tiles {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: 1fr;
  gap: 1rem;
  transition: all 400ms;
  padding: 1rem;
}

@media (max-width: 1000px) {
  .tiles {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}

.tile {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: all 400ms;
  border: 2px solid #000;
}

.tile:hover {
  cursor: pointer;
}

.tile.active {
  box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.5);
  margin: -5px 5px 5px -5px;
}

.tile:not(.active):hover {
  box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.5);
  margin: -3px 3px 3px -3px;
}

.article {
  --article-height: min(calc(100vh - 2rem), max(500px, 35vh));
  height: calc(var(--article-height) + 1rem);
  width: 100%;
  position: relative;
  background-color: var(--blackish);
  color: #eee;
}

.media, .text {
  height: var(--article-height);
  width: 50%;
  position: absolute;
  transition: all 600ms;
  padding: 1rem;
  background-color: inherit;
  color: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.textInner {
  background-color: inherit;
  color: inherit;
  padding-right: 10px;
}

.article .media {
  left: 0;
  top: 0;
  height: min(100%, auto);
  width: min(calc(50%), auto);
  transform: translateX(-100vw);
  object-fit: contain;
}

.article .text {
  right: 0;
  bottom: 0;
  transform: translateX(100vw);
  overflow-y: auto;
}

.arrow {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  height: 100%;
  width: 40px;
  z-index: 10;
  background-color: transparent;
  opacity: 0.15;
  transition: all 400ms;
}

.arrow:first-of-type {
  left: 0;
}

.arrow:hover {
  opacity: 0.8;
}

.article .media.active {
  transform: translateX(0);
}

.article .text.active {
  transform: translateX(0);
}


@media (max-width: 800px) and (min-height: 600px) {
  .arrow {
    display: none;
  }

  .article {
    --article-height: 600px;
  }

  .article .media, .article .text {
    height: calc(var(--article-height) / 2);
    height: 50%;
    width: 100%;
  }

  .textInner {
    padding-right: 0;
  }
}