.tiles {
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(auto-fit, minmax(min(240px, 49%), 1fr));
  padding: 1rem;
}

.tile {
  aspect-ratio: 1 / 1;
  height: 100%;
  width: 100%;
  max-width: 450px;
  object-fit: cover;
  transition: all 400ms;
  border: 5px solid transparent;
  position: relative;
  z-index: 2;
}

.tile:hover,
.tile.active {
  border-color: var(--orangish);
}