

.container {
  background-color: #222;
  color: #fff;
  font-size: 0.9rem;
  display: flex;
  flex-direction: column;
  border: 2px solid #444;
  border-radius: 5px;
  margin: 1.5rem;
}

.title {
  text-transform: uppercase;
  padding: 0.8rem;
}

.reqResContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: first baseline;
  width: 100%;
}

.button {
  margin: 0.8rem 0.4rem;
  padding: 0.4rem;
  text-transform: uppercase;
  font-size: 1rem;
  background-color: #282828;
  color: #fff;
  border: 1px solid #444;
  border-radius: 3px;
  cursor: pointer;
  transition: all 400ms;
}

.button:hover {
  letter-spacing: 5px;
  background-color: #444;
}

.req, .res {
  display: flex;
  flex-direction: column;
  border: #444;
  width: calc(50% - 2rem);
}

.req {
  padding-right: 0.4rem;
}

.res {
  padding-left: 0.4rem;
}

.headers, .body {
  border: 2px solid #444;
  border-radius: 5px;
  padding: 0.4rem;
  overflow-y: scroll;
  margin: 0.6rem 0;
}

.headers {
  height: 3.5rem;
}

.body {
  height: 8rem;
}

.code {
  font-family: 'Courier New', Courier, monospace;
  height: 14rem;
  padding: 0.8rem;
  overflow-y: scroll;
  background-color: #111;
  color: lightblue;
}

.reqObj {
  padding-left: 0.4rem;
}

.passed.headers, .passed.body {
  color: lightgreen;
}

.passed.title::before {
  content: '[passed] ';
  color: lightgreen;
}

.failed.title::before {
  content: '[failed] ';
  color: red;
}