.dashboard {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.dashboard h1 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.publishedExhibits,
.draftExhibits {
  margin-bottom: 40px;
}

.dashboard h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.exhibitTiles {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.exhibitTile {
  width: 300px;
  background-color: #f5f5f5;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.thumbnail {
  width: 100%;
  height: 200px;
  object-fit: cover;
  margin-bottom: 20px;
  border-radius: 5px;
}

.actions {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
}

.dashboard button {
  background-color: #0070f3;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 10px 15px;
  font-size: 1rem;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s;
}

.dashboard button:hover {
  background-color: #0051a2;
}

.createButton {
  width: 300px;
  background-image: url("/add.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #f5f5f5;
  transition: all 400ms;
}

.createButton:hover {
  background-color: #f0f0f0;
  cursor: pointer;
}