.main {
    flex-direction: column;
}

.detailContainer {
    background: #d9d9d9;
    height: 50vh;
    display: flex;
}

.detailContainer img {
    height: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 2rem;
}

.detailContainer iframe {
    height: auto;
    width: 88vh;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 2rem;
}

.textsContainer {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 2rem;
}

.contentContainer {
    display: flex;
    flex-wrap: wrap;
}

.cardContainer {
    width: 30%;
    height: 0;
    padding-top: 22.5%;
    margin: 1.66%;
    position: relative;
    background: #000;
}

.cardInner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
