.exhibitThumbnail {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 15vh;
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.5);

}

.content {
  display: flex;
  flex-direction: row;
}

.thumbnailImage {
  width: 100%;
  max-width: 300px;
  margin-bottom: 0.5rem;
}

.textContent {
  margin-left: 3rem;
  margin-right: 3rem;
}

.title {
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.summary {
  font-size: 1rem;
  text-align: justify;
}
