@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
  --font: 'Poppins', serif;
  --navbar-background-color: #4D4F51;
  --navbar-color: #E9E9E9;
  --header-background-color: #FFFFFF;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--font);
  scroll-behavior: smooth;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a, li, button {
  color: inherit;
  text-decoration: none;
}
