.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 10%;
    background-color: var(--header-background-color);
}

.logo {
    width: 20rem;
    heigh: 6rem;
}

.socialIconContainer {
    margin-bottom: auto;
}

.socialIcon {
    width: 1.5em;
    height: 1.5em;
}

.header ul {
    list-style: none;
}

.header ul li {
    display: inline-flex;
    padding: 0 0.3rem;
}

.menu {
    background: var(--menu-background-color);
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu ul {
    list-style: none;
    text-align: center;
}

.menu ul li {
    display: inline-flex;
    padding: 0 0.3rem;
}

.menu a {
    padding: 0 0.3rem;
    text-transform: uppercase;
    color: #FFFFFF;
}

.menu a:hover{
    color: #24272a;
}
