.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 10%;
    background-color: var(--header-background-color);
}

.header ul {
    list-style: none;
}

.header ul li {
    display: inline-flex;
    padding: 0 0.3rem;
}
