.nav {
    position: sticky;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.8rem 0rem;
    background-color: var(--navbar-background-color);
    color: var(--navbar-color);
    text-transform: uppercase;
}

.link {
    padding: 0 2rem;
}